<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.answer.revealer">

    <application
        android:allowBackup="false"
        android:label="答案显示模块"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnswerRevealer">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="答案显示模块">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="题目答案显示 - 作用域 tz.ycsy.az" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>

</manifest>
